asgiref
beautifulsoup
bleach
Brotli
calmjs.parse
csscompressor
cssmin
Django
django-appconf
django-bootstrap
django-compressor
django-multi-captcha-admin
django-next-prev
django-ranged-response
django-robots
django-simple-captcha
django-summernote
django-taggit
html5lib
jsmin1
lxml0
pillow
ply
python-decouple
python-gettext
rcssmin
rjsmin
setuptools
six
slimit
soupsieve
sqlparse
tzdata
webencodings
