{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

    <link href="{% static 'css/acc.css' %}" rel="stylesheet">
</head>
<body>
    <form class="form" method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
      <span class="input-span">
        <label for="email" class="label">username</label>
        <input type="username" name="username" id="email"
      /></span>
      <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email"
      /></span>
      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password1" id="password"
      /></span>
      <span class="input-span">
        <label for="password" class="label">Password confirm</label>
        <input type="password" name="password2" id="password"
      /></span>
      <span class="span"><a href="#"></a></span>
      <input class="submit" type="submit">
      
    </form>
</body>
</html>
{% endblock %}