{% load static %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-dark mb-0">{{user_count}}</h1>
                </div>
                <h5>Users</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-dark mb-0">{{posts_count}}</h1>
                </div>
                <h5>Posts</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fas fa-keyboard fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-dark mb-0">{{comments_count}}</h1>
                </div>
                <h5>Comments</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fas fa-laptop fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-dark mb-0">{{view}}</h1>
                </div>
                <h5>Total Views of Posts</h5>
            </div>
        </div>
    </div>
</div>