 {% load static %}

 <!-- Team Start -->
 <div class="container-xxl py-5" id="users">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Users</h1>
        </div>
        <div class="row g-4">
            {% for post in posts %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="{{post.avatar.url}}" alt="" height="100" width="100">
                        <div class="team-social">
                            
                            <a class="btn btn-square" href="{% url 'accounts:profile' user_id=post.user.id %}"><i>info</i></a>
                           
                        </div>
                    </div>
                    <div class="text-center border border-5 border-light border-top-0 p-4">
                        <h5 class="mb-0">{{post.user}}</h5>
                        <small>{{post.user.get_full_name}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>
</div>
<!-- Team End -->
