{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Woody - Carpenter Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="{% static 'css/nav.css' %}" rel="stylesheet">

</head>
<style>
    div.relative {
        position: relative;
        left: 900px;
        top: -500px;
    }
</style>

<body>








    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Project</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'website:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'blog:blog' %}">Blog</a></li>
                    <li class="breadcrumb-item"><a class="text-white"
                            href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></li>

                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">{{post.title}}</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">

                        <li class="mx-2" data-filter=".first">Single Blog</li>

                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{post.image.url}}" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="{{post.image.url}}"
                                    data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-outline-light mx-1"
                                    href="{% url 'blog:single' pid=post.id %}"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">{{post.title}}</p>
                            <h5 class="lh-base mb-0">{{post.content}}</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Projects End -->

    <div class="relative">
        <p><a href="#">author: {{post.author}}</p></a>
        <P><a href="#">created in:{{post.created_date|date:"M,D,y"}}</P></a>
        <p><a href="#">{{post.counted_view}} views</p></a>
        <p><a href="#">tags</p></a>
        <p><a href="#">categoreis</p></a>
        <p><a href="#">comments</p></a>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">

                    <div class="navigation-area">
                        <div class="row">
                            {% if not prev.id == post.id %}
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="{% url 'blog:single' pid=prev.id %}"><img class="img-fluid"
                                            src="{{prev.image.url}}" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Prev posts</p>
                                    <p>id:{{prev.id}}</p>
                                    <a href="{% url 'blog:single' pid=prev.id %}">
                                        <h4>{{prev.title}}</h4>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% if not next.id == post.id %}
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center ">
                                <div class="detials">

                                    <p>next post</p>

                                    <p>id:{{next.id}}</p>

                                    <a href="{% url 'blog:single' pid=next.id %}">
                                        <h4>{{next.title}}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="thumb">
                                    <a href="{% url 'blog:single' pid=next.id %}"><img class="img-fluid"
                                            src={{next.image.url}}></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>





                </div>

            </div>


    </section>
    <!-- End post-content Area -->
    <!--comments-->

    <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
        <div class="container contact px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <div class="section-title text-start">
                            <h1 class="display-5 mb-4"> leave comment</h1>
                        </div>

                        <form method="post" action="{% url 'blog:comment' %}">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="hidden" name="post" value={{post.id}}>
                                        <input type="text" class="form-control" name="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" name="message"
                                            style="height: 100px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">submit comment</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="comments-area">
                    <h4>{{comment|length}} Comments</h4>
                    {% for comment in comment %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    {% if comment.user %}
                                    <img src="{{ comment.user.userprofile.avatar.url }}" alt="">
                                    {% else %}
                                    <img src="{% static 'img/un-user.jpg' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="desc">
                                    <h5><a href="#">{{comment.name}}</a></h5>
                                    <p class="date">{{comment.created_date}} </p>
                                    <p class="comment">
                                        {{comment.message}}
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>


</body>

</html>
{% endblock %}