{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>180 Pixel Left Column, 3/4 x 1/4 Main Column.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-single.css' %}">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
</head>

<body>
    <div id="doc" class="yui-t2">
        <div id="hd">
            <div id="header">
                <!-- Page Header Start -->
                <div class="container-fluid page-header py-5 mb-5">
                    <div class="container py-5">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Project</h1>
                        <nav aria-label="breadcrumb animated slideInDown">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-white"
                                        href="{% url 'website:home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="text-white" href="{% url 'blog:blog' %}">Blog</a>
                                </li>
                                <li class="breadcrumb-item"><a class="text-white"
                                        href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></li>

                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header End -->
            </div>
        </div>

        <!-- Show post -->
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    <div class="yui-ge">
                        <div class="yui-u first">
                            <div class="content">
                                <div class="container-xxl py-5">
                                    <div class="container">

                                        <div class="section-title text-center">
                                            <h1 class="display-5 mb-5">{{post.title}}</h1>
                                        </div>
                                        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                                            <div class="col-12 text-center">
                                                <ul class="list-inline mb-5" id="portfolio-flters">

                                                    <li class="mx-2" data-filter=".first">Single Blog</li>

                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row g-4 portfolio-container">
                                            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
                                                data-wow-delay="0.1s">
                                                <div class="rounded overflow-hidden">
                                                    <div class="position-relative overflow-hidden">
                                                        <img class="img-fluid w-100" src="{{post.image.url}}" alt="">
                                                        <div class="portfolio-overlay">
                                                            <a class="btn btn-square btn-outline-light mx-1"
                                                                href="{{post.image.url}}" data-lightbox="portfolio"><i
                                                                    class="fa fa-eye"></i></a>
                                                            <a class="btn btn-square btn-outline-light mx-1"
                                                                href="#cmd"><i
                                                                    class=></i>cmts</a>
                                                        </div>
                                                    </div>
                                                    <div class="border border-5 border-light border-top-0 p-4">
                                                        <p class="text-primary fw-medium mb-2">{{post.title}}</p>
                                                        <h5 class="lh-base mb-0">{{post.content}}</a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yui-u">
                            <div class="content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yui-b">
                <div id="secondary">
                    <div class="relative">
                        
                        <p>author: {% if post.author.username %}<a href="{% url 'blog:author' author_name=post.author.username %}">{{post.author}}</p></a>
                        {% else %}
                        <a>Unknown</p></a>
                        {% endif %}
                        <P><a>created in:{{post.created_date|naturalday}}</P></a>
                        <p><a>{{post.counted_view}} views</p></a>
                        <div class="single-sidebar-widget tag-cloud-widget">
                            <h4 class="tagcloud-title">Tag:</h4>
                                {% for tag in post.tags.all %}
                                <li><a href="{% url 'blog:tags' tag_id=tag.id%}">{{tag.name}}</a></li>
                                {% endfor %}
                        </div>	
                       
                        <div class="single-sidebar-widget tag-cloud-widget">
                            <h4 class="tagcloud-title">Categories:</h4>
                                {% for cat in post.category.all %}
                                <li><a href="{% url 'blog:cat' cat_name=cat %}">{{cat}}</a></li>
                                {% endfor %}
                        </div>	
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- end Show post -->

        <!-- nex and prev post  -->
        <div id="ft">
            <div id="footer">
                <section class="post-content-area single-post-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 posts-list">

                                <div class="navigation-area">
                                    <div class="row">
                                        {% if not prev.id == post.id %}
                                        <div
                                            class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                            <div class="thumb">
                                                <a href="{% url 'blog:single' pid=prev.id %}"><img class="img-fluid"
                                                        src="{{prev.image.url}}" alt=""></a>
                                            </div>
                                            <div class="arrow">
                                                <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                            </div>
                                            <div class="detials">
                                                <p>Prev posts</p>
                                                <p>id:{{prev.id}}</p>
                                                <a href="{% url 'blog:single' pid=prev.id %}">
                                                    <h4>{{prev.title}}</h4>
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if not next.id == post.id %}
                                        <div
                                            class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center ">
                                            <div class="detials">

                                                <p>next post</p>

                                                <p>id:{{next.id}}</p>

                                                <a href="{% url 'blog:single' pid=next.id %}">
                                                    <h4>{{next.title}}</h4>
                                                </a>
                                            </div>
                                            <div class="arrow">
                                                <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                            </div>
                                            <div class="thumb">
                                                <a href="{% url 'blog:single' pid=next.id %}"><img class="img-fluid"
                                                        src={{next.image.url}}></a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>





                            </div>

                        </div>


                </section>
            </div>
        </div>
        <!--  end nex and prev post  -->

        <!-- comment -->
        <div id="ft">
            <div id="footer">
                <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
                    <div class="container contact px-lg-0">
                        <div class="row g-0 mx-lg-0">
                            <div class="col-lg-6 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">

                                <!-- Leave comment  -->
                                <div class="p-lg-5 ps-lg-0">
                                    <div class="section-title text-start" id="cmd">
                                        <h1 class="display-5 mb-4" > leave comment</h1>
                                    </div>

                                    <form method="post" action="{% url 'blog:comment' %}" >
                                        {% csrf_token %}
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <input type="hidden" name="post" value={{post.id}}>
                                                {% if user.is_authenticated %}
                                                <input type="hidden" name="name" value={{user.username}}>
                                                <input type="hidden" name="email" value={{user.email}}>
                                                <input type="hidden" name="user" value={{user.id}}>
                                                <div class="form-floating">
                                                    <p class="text-primary fw-medium mb-2">username:</p>
                                                    <h5 class="lh-base mb-0">{{user.username}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <p class="text-primary fw-medium mb-2">email:</p>
                                                    <h5 class="lh-base mb-0">{{user.email}}</a>
                                                </div>
                                            </div>
                                                {% else %}
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" name="name"
                                                        placeholder="Your Name">
                                                    <label for="name">Your Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input type="email" class="form-control" name="email"
                                                        placeholder="Your Email">
                                                    <label for="email">Your Email</label>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" name="subject"
                                                        placeholder="Subject">
                                                    <label for="subject">Subject</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <textarea class="form-control" placeholder="Leave a message here"
                                                        name="message" style="height: 100px"></textarea>
                                                    <label for="message">Message</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100 py-3" type="submit" >submit
                                                    comment</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <!-- end Leave comment  -->
                            </div>

                            <!-- show comment -->
                            <div class="comments-area">
                                <h4>{{comment|length}} Comments</h4>
                                {% for comment in comment %}
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                
                                                <img src="{{ comment.user.userprofile.avatar.url }}" alt="">
                                              
                                               
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">{{comment.name}}</a></h5>
                                                <p class="date">{{comment.created_date}} </p>
                                                <p class="comment">
                                                    {{comment.message}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- end show comment -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end comment  -->
    </div>
</body>

</html>
{% endblock %}